<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <script src="https://kit.fontawesome.com/6cbba612a7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = "footer">

        <div class="foot1">
            
            <p class="col1">
                
                Email: Info@ArtPort.com<br/>
                Phone: (222)-222-2222<br/>
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f fa-lg" style="color: #000000;"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a>
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter fa-lg" style="color: #000000;"></i></a>
                <a href="https://www.youtube.com"><i class="fa-brands fa-youtube fa-lg" style="color: #000000;"></i></a><br/> 
                
                Site by Gabriel, Mikey and Nathan</p>
                Copy Right @ 2023
            </p>

        </div>

    </div>
</body>
</html>
