<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login_page.css">
</head>
<body>

        <div id="login_popup">
    <div class ="login_wrap">
        <div class = "photo_div">
            <img class="photo" src="https://cdn.pixabay.com/photo/2020/08/24/16/57/silhouette-5514490_1280.jpg" alt="login photo" height="250px" width=
            "500">
            <div class = "img_text">ArtPort</div>
            <div class="login_form">
                <label for="uname"><b>Username:</b></label>
                <input type="text" placeholder="Username" name="username" id="username"><br/><br/>

                <label for="pass"><b>Password:</b></label>
                <input type="text" placeholder="Password" name="password" id="password"><br/><br/>

                <button class="forgot_password">Forgot Password?</button>
                <button class="login_button">Login</button><br/><br/>

                <button class="join_button">Join Now!</button>
            </div>
        </div>  
    </div>
</div>

</body>
</html>
