<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="side_nav.css">

</head>
<body>
    <div class = "side_nav">
        <a href="">#concept_art</a>
        <a href="">#character_design</a>
        <a href="">#design</a>
        <a href="">#digital_illustration</a>
        <a href="">#fantasy_world</a>
        <a href="">#game_art</a>
        <a href="">#illustration_artist</a>
        <a href="">#photoshop</a>

    </div>
</body>
</html>
