<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ArtPort - Art Page</title>
        <link rel="stylesheet" href="/css/artpage.css">
        <link rel="stylesheet" href="/css/main_div.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/body.css">
    </head>
    <body>
        
        <div>
            <%- include('./partials/header') %>
            <%- include('./partials/side_nav') %>
            <main>
                <div class="main_div">
                    <div class="artpagespace">
                        <!-- area which displays the art -->
                        <div class="main_artarea">
                            <!-- placeholder image -->
                            <img id="" src="../images/firstUpload.png" alt="image goes here" height="500px" width="500px">
                        </div>
                        <div class="artinfo">
                            <div class="art_title">
                                <!-- js for submitted title goes here -->
                                <h2>First upload!</h2>
                            </div>
                            <div class="art_description">
                                <!-- placeholder for piece description -->
                                <span>Captures the spirit of new beginnings with a sense of excitement and anticipation.</span>
                            </div>
                            <div class="contacts">
                                <span>Contact Links</span>
                                <!--users info goes here-->
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
