<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/grid.css">
        <link rel="stylesheet" href="/css/homepage.css">
        <link rel="stylesheet" href="/css/main_div.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/body.css">
    </head>
    <body>
        
        <div>
            <%- include('./partials/header') %>
            
            <main>
                <div class="main_div">
                    <div class="homepagespace">
                        <%- include('./partials/side_nav') %>
                        <div class="main_imagearea">
                            <%- include('./partials/grid') %>
                        </div>
                    </div>
                </div>
            </main>
            <script src="/js/grid.js"></script>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
