.artpagespace{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #1a1818;
	padding-top: 60px;
}
.main_artarea{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: inherit;
	max-height: inherit;
}
#main_artwork_expanded{
	display: flex;
	padding: 10px;
	width: inherit;
	height: inherit;
}
.artinfo{
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 100%;
	padding: 10px;
}
.art_description{
	border-bottom: 1px solid #e6e6ea;
	padding: 0 0 10px 10px;
}
.contacts{
	display: flex;
	justify-content: center;
	padding: 10px 0 0 0;
}
