header{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    background-color: #130c0c;
    color: #e6e6ea;
    top:0;
    left:0;
    width:100%;
    position:fixed;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid #e6e6ea;
}

a:link{
    color: #e6e6ea;
    text-decoration:none;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:20px;
    padding-right:20px;
}

a:visited{
    color:#e6e6ea;
    text-decoration:none;
}
/* hover and active with orange background black lettering */
/* a:hover{
    color: #130c0c;
    background-color:#e45f39;
    text-decoration:none;
}
a:active{
    color: #130c0c;
    background-color:#e45f39;
    text-decoration:none;
} */
/* hover and active with orange lettering no background  */
a:hover{
    color: #e45f39;
    text-decoration:none;
}
a:active{
    color: #e45f39;
    text-decoration:none;
}

input[type="submit"] {
    background-color: #130c0c ; 
    border: 1px solid #e45f39; 
    padding: 7px; 
    border-radius:15px;
    color: #e45f39;
}
  
  input[type="submit"]:hover {
    background-color: #e45f39;
    color:#e6e6ea;
  }

#login-button:hover{
    cursor:pointer;
    margin-right: 10px;
}

a[href=''] {
    margin-right: 20px;
  }

#upload-button {
    margin-right: 20px; 
    margin-left: 5px; 
  }