header{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    background-color: #130c0c;
    color: #e6e6ea;
    top:0;
    left:0;
    width:100%;
    position:fixed;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid #e6e6ea;
}

#logo img{
    height:35px;
    width:35px;
}

#tNavLeft {
flex: 1;
}

#title {
margin-left: 10px;
}

a:link{
    color: #e6e6ea;
    text-decoration:none;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:20px;
}

a:visited{
    color:#e6e6ea;
    text-decoration:none;
}

a:hover{
    color: #e45f39;
    text-decoration:none;
}
a:active{
    color: #e45f39;
    text-decoration:none;
}

input[type="submit"] {
    background-color: #130c0c ; 
    border: 1px solid #e45f39; 
    padding: 7px; 
    border-radius:15px;
    color: #e45f39;
}
  
input[type="submit"]:hover {
    background-color: #e45f39;
    color:#e6e6ea;
}

#login-button:hover{
    cursor:pointer;
}

a[href=''] {
    margin-right: 5px;
  }

#upload-button {
    margin-right: 20px;
  }