.side_nav {
    height: 100%;
    width: 250px;
    left: 0%;
    top: 40px;
    position:sticky;
    background-color: #130c0c;
    float: left;
    }
    
.sidenavlinks{
    height: 100vh;
}

    .side_nav a{
        display: block;
        color: #e6e6ea;
        padding: 30px 30px 25px 20px ;
        font-size: large;
        text-decoration: none;
        margin-top: inherit;
    }
    
    .side_nav a#firstHashtag{
        position: relative;
        top: 20px;
    }

    .side_nav a:hover {
        color: #e45f39;
    }
