<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/uploadForm.css">
    <link rel="stylesheet" href="/css/login_page.css">
</head>
<body>
    <%- include('../partials/login_page') %>
    <%- include('../partials/upload') %>
    
    <header>
        <a href="/" id="logo">
                <img src="../images/logo.png">
        </a>
        <div id="tNavLeft">
            
            <a href="/" id="title">ArtPort</a>
        </div>
        <div id="tNavRight">
            <a id="login-button">Login</a>
            <a href="">Signup</a>
            <button id="upload-button">Upload</button>
        </div>
    </header> 

    <script src="/js/login_page.js"></script>
    <script src="/js/uploadForm.js"></script>
</body>
</html>
