<div id="login_popup">
    <div class ="login_wrap">
        <div class = "photo_div">
            <img class="photo" src="https://cdn.pixabay.com/photo/2020/08/24/16/57/silhouette-5514490_1280.jpg" alt="login photo" height="250px" width=
            "500">
            <span id="loginclosebutton" class="material-symbols-outlined">X</span>
            <div class = "img_text">ArtPort</div>
        </div>  
            <div class="login_form">
                
                <input type="text" placeholder="Username" name="username" id="username"><br/><br/>

                <input type="text" placeholder="Password" name="password" id="password"><br/><br/>

                <button class="forgot_password">Forgot Password?</button>
                <button class="join_button">Join Now!</button>

                <button class="login_button">Login</button><br/><br/>

                
            </div>
    </div>
</div>