<div id="upload-popup">
<form action="/submit" method="post" enctype="multipart/form-data">
  <span id="uploadclosebutton" class="material-symbols-outlined">X</span>
  <div id="imagePreview">
    <output id="imagePreviewOutput"></output>
  </div>


  <input type="text" id="uploadUsername" name="username" required placeholder="Username"><br>

  
  <input type="text" id="title" name="title" placeholder="Title"><br>

 
  <textarea id="description" name="description" rows="4" cols="50" placeholder="Description"></textarea><br>

  <div class="photoSubmit">
  <label for="photo">Photo</label>
  <input type="file" id="photo" name="image" accept="image/*"><br>
  </div>

  <div class="submit-container">
    <input type="submit" value="Upload" id="submitFormBtn">
  </div>
</form>
</div>